body {
	font-family: 'Roboto', sans-serif;
}

img {
	max-width: 100%;
}

legend {
	font-size: 1.2rem;
}

input {
	box-sizing: border-box;
}

button {
	border: 1.3px solid black;
	font-size: 1.1rem;
}

textarea {
	box-sizing: border-box;
}

textarea:focus,
input:focus {
	background-color: azure;
}

main {
	display: grid;
}


/* hero content */

.content {
	display: grid;
}


/*  gallery */

.gallery {
	display: grid;
}

figure {
	display: grid;
}


/*  article */

article {
	display: grid;
}


/* form container */

.form-container {
	display: grid;
}


/* footer */

footer {
	display: grid;
}


/*  layout */


/*   mobile is the default layout*/


/* tablet layout >=48rem (768px) */

@media screen and (min-width: 48rem) {

	/*      hero content */
	.content {
		grid-template-columns: 1fr 8fr 1fr;
	}

	.content picture,
	.content p {
		grid-column: 2/3;
	}

	.content p {
		margin-left: 1rem;
	}

	.about-content {
		grid-column: 2/3;
	}

	.mobile-first {
		display: none;
	}

	/*	gallery */

	.gallery {
		grid-template-columns: 1fr 20fr 1fr;
	}

	.gallery h2,
	.gallery figure {
		grid-column: 2/3;
		align-self: center;
		justify-self: center;
	}

	/* figure inside gallery */
	figure {
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
	}

	/*	article */
	article {
		grid-template-columns: 1fr 48ch 1fr;
	}

	article h1,
	.story-body {
		grid-column: 2/3;
	}

	article h1 {
		align-self: center;
		justify-self: center;
	}

	/*	form */
	.form-container {
		grid-template-columns: 1fr 48ch 1fr;
	}

	.form-container h1,
	.form-container form {
		grid-column: 2/3;
	}

	form {
		margin: 0;
	}

	.form-container h1 {
		align-self: center;
		justify-self: center;
	}
}


/* wide screen layout >=64rem (1024px) */

@media screen and (min-width: 64rem) {
	.mobile-first {
		display: none;
	}

	/*      hero content */
	/*	about content */
	/*	gallery */
	.gallery {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.gallery figure {
		grid-column: auto;
		margin: 0;
	}

	.gallery figure {
		grid-template-columns: 1fr;
	}

	.gallery figcaption {
		margin-left: 2rem;
		align-self: center;
		justify-self: center;
	}

	/*	article */
	/*	form */
}
